<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <!-- <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"  />-->
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
   <link rel="stylesheet" href="../../static/style.css"/>
    <link rel="stylesheet" href="../../static/bootstrap/css/style2.css" th:href="@{css/style.css}" />

    <link rel="stylesheet" href="../../static/bootstrap/css/materia/bootstrap.css"  th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top">
    <div th:replace="fragments/header::header"></div>
    <div layout:fragment="content">

    </div>

    </div>

    <a class="navbar-brand" href="#">Egerton</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" .bg-success>
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Programs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lecturers</a>
            </li>
        </ul>
        <span class="navbar-text">
    </span>
    </div>
</nav>
<br><br/>
    <br><br/>
    <br><br/>

<div class="row">
    <div class="col-md-10 offset-md-2"  >

        <div class="card w-75">
            <div class="card-header">

                <h1 class="card-title text-center"> Lecturers And Technicians Evaluation Form</h1>

                <div class="card-body">


                    </div>


                    <div class="wrap">
                        <form  action="#" th:action="@{/evaluation}" th:object="${evaluate}">




                         
                            <fieldset id="group1">
                            <label class="statement">Q.1) Clarity of the course outline</label>
                            <ul class='group' >
                                <li>
                                    <input type="radio" name="group1" th:value="5" id="option1">
                                    <label th:for="txt1" >Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group1" value="4" id="option2">
                                    <label for ="txt2">Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group1" value="3"id="option3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group1" value="2"id="option4">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group1" value="1" id="option5">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group2">
                            <label class="statement">Q.2)The lecturer’s logical presentation of course content</label>
                            <ul class='group' >
                                <li>
                                    <input type="radio" name="group2" value="5" id="txt6" id="option6">
                                    <label for="txt6">Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group2" value="4" id="option7">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group2" value="3" id="option8">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group2" value="2" id="option9">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group2" value="1" id="option10">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group3">
                            <label class="statement">Q.3)The lecturer’s use of relevant examples/illustrations to explain principles and concepts</label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group4">
                            <label class="statement">Q.4) The lecturer’s encouragement of students’ participation</label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group4" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group4" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group4" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group4" value="2">
                                    <label>Poor </label>
                                </li>
                                <li>
                                    <input type="radio" name="group4" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group5">
                            <label class="statement">Q.5)The lecturer’s integration of ICT in the learning process</label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group5" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group5" value="4">
                                    <label>Good </label>
                                </li>
                                <li>
                                    <input type="radio" name="group5" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group5" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group5" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                                </fieldset>
                            <fieldset id="group6">
                            <label class="statement">Q.6)The lecturer’s motivation of students</label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group6" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group6" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group6" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group6" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group6" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group7">
                            <label class="statement">Q.7)The lecturer’s coverage of course within specified time</label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group7" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group7" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group7" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group7" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group7" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group8">
                            <label class="statement">Q.8)The lecturer’s mastery of subject matter</label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group8" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group8" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group8" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group8" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group8" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                                </fieldset>
                            <fieldset id="group9">
                            <label class="statement">Q.9) Relevance of assignment(s) done in the course as per course outline</label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group9" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group9" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group9" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group9" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group9" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                                </fieldset>
                            <fieldset id="group10">

                            <label class="statement">Q.10)The lecturer’s provision of prompt feedback on assignment(s)</label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group10" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group10" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group10" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group10" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group10" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group11">
                            <label class="statement">Q.11) Relevance of CATs done in the course as per course outline</label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group11" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group11" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group11" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group11" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group11" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group12">
                            <label class="statement">Q.12)The lecturer’s provision of prompt feedback on CAT(s) </label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group12" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group12" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group12" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group12" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group12" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group13">
                            <label class="statement">Q.13) The lecturer’s attendance of lectures </label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group13" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group13" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group13" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group13" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group13" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group14">
                            <label class="statement">Q.14) The lecturer’s punctuality to class </label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group14" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group14" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group14" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group14" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group14" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group15">
                            <label class="statement">Q.15)The lecturer’s availability for consultations </label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group15" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group15" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group15" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group15" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group15" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group16">
                            <label class="statement">Q.16)The lecturer’s enhancement of problem solving abilities among students </label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group16" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group16" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group16" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group16" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group16" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group17">
                            <label class="statement">Q.17)The lecturer’s encouragement of teamwork among students </label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group17" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group17" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group17" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group17" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group17" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                            </fieldset>
                            <fieldset id="group18">
                            <label class="statement">Q.18)The lecturer’s enhancement of development of creativity among students </label>
                            <ul class='group'>
                                <li>
                                    <input type="radio" name="group18" value="5">
                                    <label>Very Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group18" value="4">
                                    <label>Good</label>
                                </li>
                                <li>
                                    <input type="radio" name="group18" value="3">
                                    <label>Fair</label>
                                </li>
                                <li>
                                    <input type="radio" name="group18" value="2">
                                    <label>Poor</label>
                                </li>
                                <li>
                                    <input type="radio" name="group18" value="1">
                                    <label>Very Poor</label>
                                </li>
                            </ul>
                                </fieldset>
                            <div class="buttons" >
                                <button class="clear" style="background-color: #4CAF50">Clear</button>
                                <button class="submit"style="background-color: #4CAF50">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </body>


    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</html>